<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="cn.wps.moffice_eng" />
        <package android:name="cn.wps.moffice_i18n" />
        <package android:name="cn.wps.moffice" />
        <package android:name="com.kingsoft.moffice_pro" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/md" />
                <data android:mimeType="text/vnd.daringfireball.markdown" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/markdown" />
                <data android:mimeType="application/x-markdown" />
                <data android:mimeType="application/md" />
                <data android:mimeType="application/x-md" />
                <data android:mimeType="application/vnd.daringfireball.markdown" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.md" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.markdown" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.mdown" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern=".*\\.mkd" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathSuffix=".md" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathSuffix=".markdown" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathSuffix=".mdown" />
                <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathSuffix=".mkd" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.md" />
                <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.markdown" />
                <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.mdown" />
                <data android:scheme="file" android:mimeType="*/*" android:pathPattern=".*\\.mkd" />
                <data android:scheme="file" android:mimeType="*/*" android:pathSuffix=".md" />
                <data android:scheme="file" android:mimeType="*/*" android:pathSuffix=".markdown" />
                <data android:scheme="file" android:mimeType="*/*" android:pathSuffix=".mdown" />
                <data android:scheme="file" android:mimeType="*/*" android:pathSuffix=".mkd" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/md" />
                <data android:mimeType="text/vnd.daringfireball.markdown" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/markdown" />
                <data android:mimeType="application/x-markdown" />
                <data android:mimeType="application/md" />
                <data android:mimeType="application/x-md" />
                <data android:mimeType="application/vnd.daringfireball.markdown" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/markdown" />
                <data android:mimeType="text/x-markdown" />
                <data android:mimeType="text/md" />
                <data android:mimeType="text/vnd.daringfireball.markdown" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/markdown" />
                <data android:mimeType="application/x-markdown" />
                <data android:mimeType="application/md" />
                <data android:mimeType="application/x-md" />
                <data android:mimeType="application/vnd.daringfireball.markdown" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
    </application>
</manifest>
